<%- include("header") -%>

<h1>About</h1>
<div class= "about">
<p>
    This is just a simple To-Do list application that gives you that warm and cuddly feeling!
    <br>
    I just made this website to practise my development skills, so it's pretty simple.
    <br>
    Incase you like it and would like to contact me, here's my Linkedin:  
    <a href="https://www.linkedin.com/in/javali-murari/"> &nbsp;
    <img src='https://i.postimg.cc/L4wvTwv0/link.png' height='18px' alt='link'/></a>    
    </a>
</p>


<br>
<br>

</div>
<%- include("footer") -%>
